@charset 'utf-8';

*{
    padding:0;
    margin:0;
}

a{
    text-decoration: none;
    color:inherit
}

ul{
    list-style: none;
}
body{
    font-family: 'Nanum Gothic', sans-serif;
}


.content{
    text-align: center;
    padding-top:150px;
    font-size:24px;
    font-weight: 800;
    /* font-family: 'Black Han Sans', sans-serif; */
}

.content img{
    width:100%;
}