@charset 'utf-8';

*{
    padding:0;
    margin:0;
}

a{
    text-decoration: none;
    color:inherit
}

ul{
    list-style: none;
}
body{
    font-family: 'Nanum Gothic', sans-serif;
}



/* content 영역 */
.wrap{
    width:300px;
    margin:0 auto;
}

.content{
   padding-top:100px;
   
}

.page1, .page2{
    text-align: center;
    padding:50px 0;
}

.page1 p{
    font-size:18px;
    line-height: 30px;
}

.page1 strong{
    /* color: #ffe400; */
}

.page1 img{
    width:50%;
    margin:50px auto;
    
}

.page2{
    
    border-top:3px dotted #efefef;
}

.page2 .img1{
    width:50%;
    margin:30px auto;
}

.page2 .img2{
    width:80%;
    margin:30px auto;
}

.page3{
    background-color: #333;
    color:white;
    text-align: center;
    padding:100px 0;
}

.page3 p{
    margin-bottom:20px;
}

.page3 img{
    margin-top :20px;
}

.page4{
    padding: 50px 0;
    background-color: #000;
}

.page4 img{
    width:100%;
    vertical-align: top;

}

.page5{
    /* background-color: #efefef; */
    padding:50px 0;
    text-align: center;
    
}

.page5 strong{
    color:#2a2a2a;
    font-size:18px;
    font-weight: 900;
}

.page5 img{
    width:80%;
    margin:50px 0;
}

.page5 .curriculum{
    display: block;
    width:80%;
    margin:0 auto;
    height:50px;
    background-color:#ffe400;
    line-height: 50px;
    cursor: pointer;
    color:white;
    font-weight: 900;
}